body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    color: #e91e63;
}

p {
    color: #555;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    background: #e91e63;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #c2185b;
    transform: scale(1.1);
}
.falling {
    position: fixed;
    top: -10%;
    z-index: 999;
    animation-name: fall;
    animation-timing-function: linear;
    pointer-events: none;
}
.special-heading {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 34px;
    font-family: 'Georgia', serif;
    color: #ffffff;
    letter-spacing: 2px;

    background-color: #c2185b; /* readable background */
    padding: 12px 28px;
    border-radius: 10px;

    text-shadow: 0 0 10px rgba(214, 51, 108, 0.4);
    z-index: 1000;
}



@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(120vh) rotate(360deg);
        opacity: 0;
    }
}